# Основы синтаксиса языка Python

 ## Основные типы данных

### Примитивные типы данных

In [ ]:
# целое число
number = 12

# дробное число
float_number = 12.4

# строки
string = 'Hello world'
another_string = "Hello world"

example_with_quotes = "This string has inner 'quotes'"
format_string = f'This string has integer value {number} and float value {float_number}'

multiline_string = """I can write as many lines here as I want\nAgain and again\t
Again and again
Again and again
Again and again"""

# булево
bool_true = True
bool_false = False

# отсутствие значения
none_var = None

In [ ]:
number, float_number, string, another_string, example_with_quotes, format_string, multiline_string, bool_true, bool_false, none_var

(12,
 12.4,
 'Hello world',
 'Hello world',
 "This string has inner 'quotes'",
 'This string has integer value 12 and float value 12.4',
 'I can write as many lines here as I want\nAgain and again\t\nAgain and again\nAgain and again\nAgain and again',
 True,
 False,
 None)

### Коллекции как отдельные типы данных

In [ ]:
# Cписки - простой набор значений любого типа данных
empty_list = []
example_list = [1, 2, 3.5, True, None, [1, 2], (4, 3)]

empty_list, example_list

([], [1, 2, 3.5, True, None, [1, 2], (4, 3)])

In [ ]:
# Множества - набор уникальных значений. Множества гарантируют, что элемент множества будет храниться только в одном экземпляре
empty_set = set()
duplicate_set = set([1, 1, 1, 2, 2, 2, 3, 3, 3])
example_set = set([1, 2, 3.5, True, None])

empty_set, duplicate_set, example_set

(set(), {1, 2, 3}, {1, 2, 3.5, None})

In [ ]:
# Кортежи - неизменяемые списки
empty_tuple = ()
example_tuple = (1, 2, 3.5, True, None, [1, 2], (4, 3))

empty_tuple, example_tuple

((), (1, 2, 3.5, True, None, [1, 2], (4, 3)))

In [ ]:
# Словари - набор пар в виде ключ-значение
empty_dictionary = {}
example_dictionary = {
    0: "zero",
    1: "one",
    2: "two",
    3: "three"
}

empty_dictionary, example_dictionary

({}, {0: 'zero', 1: 'one', 2: 'two', 3: 'three'})

## Стандартные операции ввода-вывода

In [ ]:
# Консольный ввод
input_string = input()
input_string_with_description = input("Description for your input here: ")

input
Description for your input here: input with text

In [ ]:
# Консольный вывод
print(input_string)
print(input_string_with_description)

print("Input string: " + input_string)
print("Input string:", input_string_with_description)
print(f"Input string: {input_string}, another input string: {input_string_with_description}")

input
input with text
Input string: input
Input string: input with text
Input string: input, another input string: input with text

## Операции с разными типами данных

### Строки

In [ ]:
# Примеры работы со строками

# Создание строки
my_string = "Python is awesome!"

# Длина строки
print(len(my_string))  # Вывод: 18

# Доступ к символам строки
print(my_string[0])  # Вывод: P
print(my_string[-1])  # Вывод: !

# Срезы строки
print(my_string[7:9])  # Вывод: is
print(my_string[:6])  # Вывод: Python
print(my_string[10:])  # Вывод: awesome!

# Методы строк
print(my_string.upper())  # Вывод: PYTHON IS AWESOME!
print(my_string.lower())  # Вывод: python is awesome!
print(my_string.replace("awesome", "great"))  # Вывод: Python is great!

# Форматирование строк
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)  # Вывод: My name is Alice and I am 25 years old.

### Числа

In [ ]:
# Примеры работы с числами

# Целые числа
int_num = 10
print(int_num)  # Вывод: 10

# Числа с плавающей точкой
float_num = 10.5
print(float_num)  # Вывод: 10.5

# Комплексные числа
complex_num = 2 + 3j
print(complex_num)  # Вывод: (2+3j)

# Арифметические операции
a = 10
b = 3
print(a + b)  # Сложение: 13
print(a - b)  # Вычитание: 7
print(a * b)  # Умножение: 30
print(a / b)  # Деление: 3.3333...
print(a // b)  # Целочисленное деление: 3
print(a % b)  # Остаток от деления: 1
print(a ** b)  # Возведение в степень: 1000

# Встроенные функции
print(abs(-10))  # Абсолютное значение: 10
print(round(10.567, 1))  # Округление: 10.6
print(max(1, 2, 3))  # Максимум: 3
print(min(1, 2, 3))  # Минимум: 1
print(pow(2, 3)) # Возведение в степень: 8

### Логические операции

In [ ]:
a, b = True, False
print(a and b)  # Логическое И
print(a or b)  # Логическое ИЛИ
print(not a)  # Отрицание

### Коллекции

In [ ]:
# Примеры работы с коллекциями

# Списки
my_list = [1, 2, 3, 4, 5]
my_list.append(6)  # Добавление элемента
print(my_list)  # Вывод: [1, 2, 3, 4, 5, 6]

# Кортежи
my_tuple = (1, 2, 3)
print(my_tuple[0])  # Доступ к элементу: 1

# Множества
my_set = {1, 2, 3}
my_set.add(4)  # Добавление элемента
print(my_set)  # Вывод: {1, 2, 3, 4}

# Словари
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # Добавление элемента
print(my_dict)  # Вывод: {'a': 1, 'b': 2, 'c': 3}

# Операции с коллекциями
print(len(my_list))  # Длина списка: 6
print(2 in my_list)  # Проверка наличия элемента: True
print(my_list + [7, 8, 9])  # Конкатенация списков: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6]
1
{1, 2, 3, 4}
{'a': 1, 'b': 2, 'c': 3}
6
True
[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Условный оператор

In [ ]:
# Примеры условных операторов

# Простое условие
x = 10
if x > 5:
    print("x is greater than 5")  # Вывод: x is greater than 5

# Условие с else
y = 3
if y > 5:
    print("y is greater than 5")
else:
    print("y is less than or equal to 5")  # Вывод: y is less than or equal to 5

# Условие с elif
z = 7
if z > 10:
    print("z is greater than 10")
elif z > 5:
    print("z is greater than 5 but less than or equal to 10")  # Вывод: z is greater than 5 but less than or equal to 10
else:
    print("z is less than or equal to 5")

# Вложенные условия
a = 15
if a > 10:
    if a < 20:
        print("a is between 10 and 20")  # Вывод: a is between 10 and 20

## Циклы

In [ ]:
# Примеры циклов

# Цикл for
for i in range(5):
    print(i)  # Вывод: 0 1 2 3 4

# Цикл for с итерацией по списку
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)  # Вывод: 1 2 3 4 5

# Цикл while
counter = 0
while counter < 5:
    print(counter)  # Вывод: 0 1 2 3 4
    counter += 1

# Вложенные циклы
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")  # Вывод: i: 0, j: 0; i: 0, j: 1; i: 1, j: 0; и т.д.

# Использование break и continue
for i in range(10):
    if i == 5:
        break  # Выход из цикла
    if i % 2 == 0:
        continue  # Пропуск текущей итерации
    print(i)  # Вывод: 1 3

### Списочные выражения

In [ ]:
# 1. Создание списка с числами
numbers = [x for x in range(10)]
print(numbers)  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 2. Создание списка с условием
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)  # [0, 2, 4, 6, 8]

# 3. Изменение элементов списка
squared_numbers = [x**2 for x in range(10)]
print(squared_numbers)  # [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 4. Работа со строками
words = ["hello", "world", "python"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)  # ['HELLO', 'WORLD', 'PYTHON']

# 5. Фильтрация строк
names = ["Alice", "Bob", "Charlie", "David"]
short_names = [name for name in names if len(name) <= 4]
print(short_names)  # ['Bob']

# 6. Применение тернарного оператора
numbers = [x if x % 2 == 0 else "odd" for x in range(10)]
print(numbers)  # [0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

# 7. Вложенные циклы
pairs = [(x, y) for x in range(3) for y in range(3)]
print(pairs)  # [(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

# 8. Работа со словарями
keys = ["name", "age", "city"]
values = ["Alice", 25, "New York"]
dictionary = {k: v for k, v in zip(keys, values)}
print(dictionary)  # {'name': 'Alice', 'age': 25, 'city': 'New York'}

# 9. Генерация множества (set comprehension)
unique_squares = {x**2 for x in [1, 2, 2, 3, 3, 3, 4]}
print(unique_squares)  # {16, 1, 4, 9}

# 10. Генерация генератора (generator expression)
gen = (x**2 for x in range(5))
print(list(gen))  # [0, 1, 4, 9, 16]

## Функции

> Функции в Python позволяют организовать код в блоки, которые можно вызывать многократно. Вот несколько примеров:

In [ ]:
# 1. Определение функции и вызов
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))  # Hello, Alice!

In [ ]:
# 2. Глобальная и локальная область видимости
x = 10  # Глобальная переменная

def modify_global():
    global x  # Разрешаем изменять глобальную переменную
    x += 5

modify_global()
print(x)  # 15

In [ ]:
# 3. Локальная область видимости
def local_scope():
    y = 20  # Локальная переменная
    return y

print(local_scope())  # 20
# print(y)  # Ошибка: переменная y не определена вне функции

In [ ]:
# 4. Передача аргументов: позиционные аргументы
def add(a, b):
    return a + b

print(add(3, 5))  # 8

In [ ]:
# 5. Передача аргументов: именованные аргументы
def introduce(name, age):
    return f"My name is {name} and I am {age} years old."

print(introduce(age=25, name="Bob"))
# My name is Bob and I am 25 years old.

In [ ]:
# 6. Аргументы по умолчанию
def power(base, exponent=2):
    return base ** exponent

print(power(3))     # 9 (по умолчанию exponent=2)
print(power(3, 3))  # 27

In [ ]:
# 7. Произвольное количество аргументов *args
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3, 4))  # 10

In [ ]:
# 8. Произвольное количество именованных аргументов **kwargs
def describe_person(**kwargs):
    return ", ".join(f"{key}: {value}" for key, value in kwargs.items())

print(describe_person(name="Alice", age=30, city="New York"))
# name: Alice, age: 30, city: New York

In [ ]:
# 9. Функции высших порядков: передача функции в аргумент
def apply_twice(func, value):
    return func(func(value))

def square(x):
    return x * x

print(apply_twice(square, 2))  # 16 (2 → 4 → 16)

In [ ]:
# 10. Функции высших порядков: возвращение функции
def make_multiplier(n):
    def multiplier(x):
        return x * n
    return multiplier

double = make_multiplier(2)
print(double(5))  # 10

In [ ]:
# 11. Лямбда-функция (анонимная функция)
double_lambda = lambda x: x * 2
print(double_lambda(4))  # 8

# 12. Лямбда в функции высшего порядка (пример с map)
numbers = [1, 2, 3, 4]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # [1, 4, 9, 16]

# 13. Лямбда в сортировке
people = [("Alice", 30), ("Bob", 25), ("Charlie", 35)]
sorted_people = sorted(people, key=lambda person: person[1])
print(sorted_people)  # [('Bob', 25), ('Alice', 30), ('Charlie', 35)]

# Библиотеки для получения и обработки данных

In [ ]:
# 1. Работа с модулем math
import math

print(math.sqrt(16))      # 4.0 - квадратный корень
print(math.factorial(5))  # 120 - факториал числа
print(math.pi)            # 3.141592653589793 - значение π
print(math.sin(math.radians(30)))  # 0.5 - синус 30 градусов

In [ ]:
# 2. Работа с модулем numpy
import numpy as np

# Создание массива numpy
arr = np.array([1, 2, 3, 4, 5])
print(arr * 2)  # [ 2  4  6  8 10] - умножение массива на число

# Создание массива с нулями, единицами и случайными числами
zeros = np.zeros((2, 3))
ones = np.ones((3, 3))
random_arr = np.random.rand(3, 3)

print(zeros)
print(ones)
print(random_arr)

# Операции над массивами
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
sum_arr = arr1 + arr2  # [5 7 9]
dot_product = np.dot(arr1, arr2)  # 1*4 + 2*5 + 3*6 = 32

print(sum_arr)
print(dot_product)

# Матрицы и их операции
matrix = np.array([[1, 2], [3, 4]])
transpose = matrix.T  # Транспонирование
inverse = np.linalg.inv(matrix)  # Обратная матрица

print(transpose)
print(inverse)

In [ ]:
# 3. Работа с модулем pandas
import pandas as pd

# Создание DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

print(df)

# Чтение и запись CSV-файлов
# df.to_csv("data.csv", index=False)  # Сохранение в CSV
# df_read = pd.read_csv("data.csv")   # Чтение из CSV
# print(df_read)

# Фильтрация данных
filtered_df = df[df["Age"] > 28]
print(filtered_df)  # Выведет строки, где возраст больше 28

# Группировка данных
grouped = df.groupby("City")["Age"].mean()
print(grouped)

# Добавление нового столбца
df["Salary"] = [50000, 60000, 70000]
print(df)

# Удаление столбца
df.drop(columns=["City"], inplace=True)
print(df)

# Основная статистика
print(df.describe())  # Статистика по числовым столбцам (среднее, минимум, максимум и т. д.)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
City
Chicago        35.0
Los Angeles    30.0
New York       25.0
Name: Age, dtype: float64
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0